.container {
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;

}
.songsLeft, .songsRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.video {
    margin-top: 0px;
    width: 50vw;
}
video {
    width: 50vw;
}

.song{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
}
.songDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.songDescription small {
    font-size: 1rem;
    color: rgb(211, 211, 211);
}

.song img {
    width: 30px;
    height: 30px;
}