.inputDiv{
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 100%;
    margin-left: 6vw;
}

main {
    font-size: 1.4rem;
}

#submitButton{
    margin-top: 3vh;
    padding: 10px;
    margin-left: 10vw;
    text-align: center;
    background-color: red;
    border-color: black;
    color: black;

    font-size: 1.3rem;
}

@media (max-width: 768px) {
    #submitButton{
        margin-left: 0vw;
        width: 50%;
    }
}